<h2>マイページ</h2>
<p>（画像）編集 / 削除</p>

<p>名前: <%= current_user.name %></p>
<p>プロフィール</p>
<p>性別:</p>
<p>興味関心:</p>
<p>WEBサイト:</p>

<p>レベル</p>
<p>デポジット残高</p>
<p>応援チャージしたコンテンツ一覧</p>
<p>投稿したコンテンツ一覧</p>
<p>拡散したコンテンツ一覧</p>


<%= link_to "プロフィールを作成", "/profiles/new" %><br>
<%= link_to "プロフィールを編集", "/profiles/#{@user.id}/edit" %><br>
<%= link_to 'アドレス・パスワード変更', edit_user_registration_path %><br>
<%= link_to 'Twitter認証', '/auth/twitter' %>
