<h1>投稿した内容</h1>


<% if @post.post_on == true %>

<div class="openContent-attention">
    <p class="privatContent">公開中の投稿</p>
</div>    

<% else %>
<div class="privateContent-attention">
    <p class="privateContent">非公開設定中の投稿</p>
</div>

<% end %>

<div class="openContent-box">
<%= @post.category %><br>
<h2><%= @post.title %><br></h2>
<p><%= @post.content %></p>
<%= @post.created_at %><br>
@post.user_id:<%= @post.user_id %><br>
current_user.id :<%= current_user.id %><br>
@post.post_on :<%= @post.post_on %><br>

<%= link_to("編集","/posts/#{@post.id}/edit") %>
<%= link_to "削除", post_path(@post.id), method: :delete %>
</div>