<header>
    <div class="topTitle">
        <% if @current_user %>
            <%= link_to("miiim", post_path) %>
            <% else%>
            <%= link_to("miiim", "/") %>
            <% end %>
        </div>
    <ul class="header-menus">
        

          <!-- deviseで使われるヘルパーメソッドでuser_signed_in?はログインしているかどうか -->
        <% if user_signed_in? %>
        <li>      
                <strong><%= link_to current_user.name, "/users/#{current_user.id}" %></strong>
        </li>
        <li>        
                <%= button_to 'ログアウト', destroy_user_session_path , method: :delete,:class => "logout" %>
        </li>
        <li>
            <%= link_to("ユーザー一覧", "/users/index") %>
        </li>
        <li>
            <%= link_to"新規投稿", new_post_path %>
        </li>
        <li>
            <%= link_to"投稿一覧", posts_path %>
        </li>
        <li>
            <%= link_to("検索", "/tweets/top") %>
        </li>
        <li>
            <%= link_to 'Twitterでログイン', '/auth/twitter' %>
        </li>

        <% else %>
        <li>
            <%= link_to 'ログイン', new_user_session_path %>
        </li>
        <li>
            <%= link_to 'サインアップ', new_user_registration_path %>
        </li>
         <% end %>
    </ul>
</header>
        