<!DOCTYPE html>
<html>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> master
  <head>
    <title>miiim</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag(:all) %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= csrf_meta_tags %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- テキストエリアの入力をリアルタイムプレビューするためのjquery-->
    <script>
        $(function() {
            $('body').keyup(function() {
                $('#livepreview').html($('#liveeditor').val());
                 $('#livepreview-title').html($('#liveeditor-title').val());

            });
        });
        
        
        $(function() {
        $('#liveeditor').froalaEditor();
        });

    </script>

  </head>
  
  <body>
    <%= render 'layouts/header'%>
      <div class="container">

          <!--
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          -->

          
     　<% if flash[:notice] %>
       <div class="flash">
         <%= flash[:notice] %>
       </div>
     <% end %>
      <div class="main">
     <%= yield %>
      </div>
    </div>
        <%= render "layouts/footer" %>
  </body>
</html>
